src/main/mule/weather-api-connecting-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e1362979-a865-4fc0-9a49-d525a99cb917" basePath="test" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	
	
	  <flow name="common-request-flow" doc:id="d1152553-ac9a-4f81-b4da-2b3856b001e0">
        
       

        <!-- HTTP Request -->
        <http:listener doc:name="Listener" doc:id="ee67563b-deed-44f3-9efe-7e20a8ea7c05" config-ref="HTTP_Listener_config" path="demo"/>
		<ee:transform doc:name="Transform Message" doc:id="164669c8-7a2d-49d4-b14a-9bee8db04b84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="method" ><![CDATA[%dw 2.0
output application/json
---
attributes.method]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/json
---
attributes]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

        <!-- Logger to log response -->
        <logger level="INFO" doc:name="Log Response" message="Response: #[payload]"/>
    </flow>

    <!-- Sample Usage of Common Request Flow for GET Operation -->

    <!-- Sample Usage of Common Request Flow for POST Operation -->
	
</mule>
